<div class="w3-container w3-blue">
  <h2>Input Form</h2>
</div>

<form class="w3-container">
  <p>
    <label>First Name</label>
    <input class="w3-input" type="text"></p>
  <p>
    <label>Last Name</label>
    <input class="w3-input" type="text"></p>
  <p>
    <label>Email</label>
    <input class="w3-input" type="text"></p>
</form>


<ul class="w3-ul">
  <li><i class="fa fa-home"></i> Home</li>
  <li class="w3-large"><i class="fa fa-home"></i> Home</li>
  <li class="w3-xlarge"><i class="fa fa-home"></i> Home</li>
  <li class="w3-xxlarge"><i class="fa fa-home"></i> Home</li>
  <li class="w3-xxxlarge"><i class="fa fa-home"></i> Home</li>
  <li class="w3-jumbo w3-teal"><i class="fa fa-home"></i> Home</li>
</ul>
